<header>
  <nav>
    <a [routerLink]="['/']">
      <img class="logo-navbar" alt="image du site serenity web creations" />
    </a>
    <ul>
      <li>
        <a [routerLink]="['/services']">SERVICES</a>
        <span class="color-indicator green"></span>
      </li>
      <li>
        <a [routerLink]="['/portfolio']">PORTFOLIO</a>
        <span class="color-indicator yellow"></span>
      </li>
      <li>
        <a [routerLink]="['/blog']">BLOG</a>
        <span class="color-indicator blue"></span>
      </li>
      <li>
        <a [routerLink]="['/contact']">CONTACT</a>
        <span class="color-indicator pink"></span>
      </li>
    </ul>
  </nav>
</header>
