// src/styles/_variables.scss

$color-primary: #BAFFC9;
$color-secondary: #FFFFBA;
$color-tertiary: #FFB3BA;
$color-quaternary: #BAE1FF;
$color-background: #232220;
$color-text: #F8F8FF;

$font-title: 'Jost', sans-serif;