@import "../../styles/variables"; // Importation des variables SCSS

.triangles {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 500px;
  overflow: hidden;

  .triangle {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0, 100% 100%, 0 0);
    opacity: 0; /* Opacité initiale à 0 */
    animation: moveIn 2s forwards;
  }

  .green {
    background-color: #BAFFC9;
    top: 0;
    right: -20px;
    animation-delay: 0.2s;
  }

  .yellow {
    background-color: #FFFFBA;
    top: 0px; /* Ajustement de l'espacement */
    right: -140px; /* Ajustement de l'espacement */
    animation-delay: 0.4s;
  }

  .blue {
    background-color: #BAE1FF;
    top: 0px; /* Ajustement de l'espacement */
    right: -260px; /* Ajustement de l'espacement */
    animation-delay: 0.6s;
  }

  .pink {
    background-color: #FFB3BA;
    top: 0px; /* Ajustement de l'espacement */
    right: -365px; /* Ajustement de l'espacement */
    animation-delay: 0.8s;
  }
}

@keyframes moveIn {
  0% {
    transform: translate(100%, -100%) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
}

// Responsive design pour les écrans de moins de 800px
@media (max-width: 800px) {
  .triangles {
    width: 300px; // Ajustement de la largeur pour les petits écrans
    height: 300px; // Ajustement de la hauteur pour les petits écrans

    .green {
      right: -10px; // Ajustement du positionnement
    }

    .yellow {
      right: -80px; // Ajustement du positionnement
    }

    .blue {
      right: -150px; // Ajustement du positionnement
    }

    .pink {
      right: -210px; // Ajustement du positionnement
    }
  }
}

// Responsive design pour les écrans de moins de 600px
@media (max-width: 600px) {
  .triangles {
    height: 200px; // Ajustement de la hauteur pour les très petits écrans

    .green {
      right: -5px; // Ajustement du positionnement
    }

    .yellow {
      right: -60px; // Ajustement du positionnement
    }

    .blue {
      right: -110px; // Ajustement du positionnement
    }

    .pink {
      right: -160px; // Ajustement du positionnement
    }
  }
}