// Importation des variables SCSS
@import "../../styles/variables";

// Définir les chemins des images dans les variables SCSS
$logo-paths: (
  mesure: "../../assets/lettre_M.png",
  frontend: "../../assets/lettre_F.png",
  backend: "../../assets/lettre_B.png",
  support: "../../assets/lettre_S.png",
  languages: "../../assets/lettre_L.png",
  extras: "../../assets/lettre_E.png",
  approach: "../../assets/lettre_A.png",
  pricing: "../../assets/lettre_T.png"
);

$colors: (
  1: #baffc9, // Vert
  2: #ffffba, // Jaune
  3: #bae1ff, // Bleu
  4: #ffb3ba // Rose
);

// Fonction pour obtenir une couleur à partir de l'index
@function get-color($index) {
  @return map-get($colors, $index);
}

.service-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;

  .service-section {
    display: flex;
    align-items: center;
    color: $color-text;
    margin: 20px 0;
    border-radius: 8px;
    padding: 20px;
    max-width: 100%; // S'assure que les sections ne débordent pas

    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 20px;

      @each $name, $path in $logo-paths {
        .logo-#{$name} {
          width: 140px;
          height: auto;
          content: url(#{$path});
        }
      }
    }

    .service-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .service-title {
        font-family: $font-title;
        font-weight: 100;
        font-size: 36px;
        margin-bottom: -30px; // Espacement de 5px entre le h1 et la div end-of-word
        margin-left: 2px;
        color: whitesmoke;
      }

      .end-of-word {
        display: inline-block;
        font-size: 65px;
        margin-top: 5px; // Espacement de 5px entre la div end-of-word et le h1

        .transformer {
          display: inline-block;
          font-weight: bold;

          @for $i from 1 through 4 {
            &:nth-child(4n + #{$i}) {
              color: get-color($i);
            }
          }
        }
      }

      .highlight {
        color: whitesmoke;
        font-weight: 300;
      }

      p {
        font-family: $font-title;
        font-weight: 100;
        line-height: 1.5;
        font-size: 22px;
        width: 800px;
        margin-left: 4px;
      }
    }
  }

  // Responsive styles
  @media (max-width: 1000px) {
    .service-section {
      .logo-container {
        .logo {
          width: 120px; // Réduction de la taille du logo
        }
      }

      .service-content {
        .service-title {
          font-size: 35px; // Réduction de la taille du titre
        }

        .end-of-word {
          font-size: 60px; // Réduction de la taille de end-of-word
        }

        p {
          font-size: 20px; // Réduction de la taille du texte
          width: 700px; // Réduction de la largeur des paragraphes

          &.second-paragraph {
            margin-left: calc(120px + 20px); // Alignement horizontal avec la fin du logo
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    .service-section {
      .logo-container {
        padding-right: 0;
        .logo {
          width: 90px; // Réduction de la taille du logo
        }
      }

      .service-content {
        margin-left: 15px;
        max-width: 520px;
        .service-title {
          font-size: 30px;
        }

        .end-of-word {
          font-size: 50px;
        }

        p {
          width: 100%;
          margin-left: 0;
          font-size: 18px;
          font-weight: 400;

          &.second-paragraph {
            margin-left: calc(100px + 10px); // Alignement horizontal avec la fin du logo
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    .service-section {
      align-items: center;
      text-align: left;
      max-width: 350px; // Limite la largeur à 330px

      .logo-container {
        padding-right: 0;
        .logo {
          width: 80px; // Réduction de la taille du logo
        }
      }

      .service-content {
        margin-left: 18px;

        .service-title {
          font-size: 20px;
        }

        .end-of-word {
          margin-top: 20px;
          font-size: 30px;
        }

        p {
          width: 100%;
          margin-left: 0;
          font-size: 14px;
        }
      }
    }
  }
}
