<app-colored-bars></app-colored-bars>
<div class="service-container">
  <div class="service-section section-mesure">
    <div class="logo-container">
      <img src="../assets/lettre_M.svg" alt="Logo Mesure" class="logo" />
    </div>
    <div class="service-content">
      <h1 class="service-title">Développement de sites web sur</h1>
      <div class="end-of-word">
        <span class="transformer">E</span>
        <span class="transformer">S</span>
        <span class="transformer">U</span>
        <span class="transformer">R</span>
        <span class="transformer">E</span>
      </div>
      <p>
        Création de sites web
        <strong class="highlight">personnalisés</strong> pour répondre à vos
        <strong class="highlight">besoins spécifiques</strong>.
      </p>
      <p>
        Utilisation des
        <strong class="highlight">dernières technologies</strong> pour garantir
        des <strong class="highlight">performances optimales</strong>.
      </p>
    </div>
  </div>

  <div class="service-section section-frontend">
    <div class="logo-container">
      <img src="../assets/lettre_F.svg" alt="Logo Frontend" class="logo" />
    </div>
    <div class="service-content">
      <h1 class="service-title">Développement</h1>
      <div class="end-of-word">
        <span class="transformer">R</span>
        <span class="transformer">O</span>
        <span class="transformer">N</span>
        <span class="transformer">T</span>
        <span class="transformer">E</span>
        <span class="transformer">N</span>
        <span class="transformer">D</span>
      </div>
      <p>
        Maîtrise de
        <strong class="highlight">HTML5, CSS3, JavaScript</strong> (ECMAScript
        6).
      </p>
      <p>
        Utilisation de frameworks modernes tels que
        <strong class="highlight">React, Angular</strong>, et
        <strong class="highlight">Vue.js</strong> <br />
        pour des interfaces utilisateur
        <strong class="highlight">dynamiques</strong> et
        <strong class="highlight">réactives</strong>.
      </p>
    </div>
  </div>

  <div class="service-section section-backend">
    <div class="logo-container">
      <img src="../assets/lettre_B.svg" alt="Logo Backend" class="logo" />
    </div>
    <div class="service-content">
      <h1 class="service-title">Développement</h1>
      <div class="end-of-word">
        <span class="transformer">A</span>
        <span class="transformer">C</span>
        <span class="transformer">K</span>
        <span class="transformer">E</span>
        <span class="transformer">N</span>
        <span class="transformer">D</span>
      </div>
      <p>
        Expertise en <strong class="highlight">Node.js</strong> et
        <strong class="highlight">Express</strong> pour des back-ends robustes.
      </p>
      <p>
        Gestion de bases de données <strong class="highlight">SQL</strong> avec
        <strong class="highlight">MySQL</strong>.
      </p>
      <p>
        <strong class="highlight">CMS WordPress</strong> avec
        <strong class="highlight">Elementor</strong> pour des sites faciles à
        gérer.
      </p>
    </div>
  </div>

  <div class="service-section section-support">
    <div class="logo-container">
      <img src="../assets/lettre_S.png" alt="Logo Support" class="logo" />
    </div>
    <div class="service-content">
      <h1 class="service-title">Maintenance</h1>
      <div class="end-of-word">
        <span class="transformer">U</span>
        <span class="transformer">P</span>
        <span class="transformer">P</span>
        <span class="transformer">O</span>
        <span class="transformer">R</span>
        <span class="transformer">T</span>
      </div>
      <p>
        <strong class="highlight">Support continu</strong> pour assurer le bon
        fonctionnement de votre site.
      </p>
      <p>
        Services de maintenance pour garder votre site à
        <strong class="highlight"> jour</strong> et
        <strong class="highlight">sécurisé</strong>.
      </p>
      <p>
        <strong class="highlight">Analyse</strong> et
        <strong class="highlight">optimisation</strong> des performances de
        votre site pour garantir <strong class="highlight">rapidité</strong> et
        <strong class="highlight">efficacité</strong>.
      </p>
    </div>
  </div>

  <div class="service-section section-languages">
    <div class="logo-container">
      <img src="../assets/lettre_L.svg" alt="Logo Languages" class="logo" />
    </div>
    <div class="service-content">
      <h1 class="service-title">Technologies Utilisées</h1>
      <div class="end-of-word">
        <span class="transformer">A</span>
        <span class="transformer">N</span>
        <span class="transformer">G</span>
        <span class="transformer">A</span>
        <span class="transformer">G</span>
        <span class="transformer">E</span>
        <span class="transformer">S</span>
      </div>
      <p>
        Front-end: HTML5, CSS3, JavaScript (ES6),
        <strong class="highlight">TypeScript</strong>,
        <strong class="highlight">React</strong>,
        <strong class="highlight">Angular</strong> (modern),
        <strong class="highlight">Vue.js</strong>.
      </p>
      <p>
        Back-end: <strong class="highlight">Node.js</strong>,
        <strong class="highlight">Express</strong>,
        <strong class="highlight">MySQL</strong>, CMS<strong class="highlight">
          WordPress</strong
        >
        avec Elementor.
      </p>
      <p>
        Exploration: Exploration de <strong class="highlight">Nest.js</strong>,
        <strong class="highlight">Three.js</strong>, et
        <strong class="highlight">Spring</strong>.
      </p>
    </div>
  </div>

  <div class="service-section section-extras">
    <div class="logo-container">
      <img src="../assets/lettre_E.svg" alt="Logo Extras" class="logo" />
    </div>
    <div class="service-content">
      <h1 class="service-title">Services Complémentaires</h1>
      <div class="end-of-word">
        <span class="transformer">X</span>
        <span class="transformer">T</span>
        <span class="transformer">R</span>
        <span class="transformer">A</span>
        <span class="transformer">S</span>
      </div>
      <p>
        Conception UX/UI: Pour une
        <strong class="highlight">expérience utilisateur optimale</strong>.
      </p>
      <p>
        Marketing Digital: Stratégies pour
        <strong class="highlight">augmenter votre présence en ligne</strong>.
      </p>
      <p>
        Hébergement Web: Solutions d'<strong class="highlight"
          >hébergement fiables et sécurisées</strong
        >.
      </p>
      <p>
        Optimisation SEO: Pour
        <strong class="highlight">améliorer la visibilité</strong> de votre site
        sur les moteurs de recherche.
      </p>
    </div>
  </div>

  <div class="service-section section-approach">
    <div class="logo-container">
      <img src="../assets/lettre_A.svg" alt="Logo Approach" class="logo" />
    </div>
    <div class="service-content">
      <h1 class="service-title">Notre Méthodologie</h1>
      <div class="end-of-word">
        <span class="transformer">P</span>
        <span class="transformer">P</span>
        <span class="transformer">R</span>
        <span class="transformer">O</span>
        <span class="transformer">C</span>
        <span class="transformer">H</span>
        <span class="transformer">E</span>
      </div>
      <p>
        Gestion de projets de A à Z avec une
        <strong class="highlight">exigence élevée pour la perfection</strong>.
      </p>
      <p>
        Utilisation de
        <strong class="highlight">méthodologies agiles</strong> pour une gestion
        de projet efficace.
      </p>
      <p>
        Normes de codage <strong class="highlight">strictes</strong>, code
        review et <strong class="highlight">documentation rigoureuse</strong>.
      </p>
      <p>
        Tests <strong class="highlight">end-to-end</strong> et tests
        <strong class="highlight">unitaires</strong> pour assurer la qualité du
        code.
      </p>
    </div>
  </div>

  <div class="service-section section-pricing">
    <div class="logo-container">
      <img src="../assets/lettre_T.svg" alt="Logo Pricing" class="logo" />
    </div>
    <div class="service-content">
      <h1 class="service-title">Nos Offres</h1>
      <div class="end-of-word">
        <span class="transformer">A</span>
        <span class="transformer">R</span>
        <span class="transformer">I</span>
        <span class="transformer">F</span>
        <span class="transformer">I</span>
        <span class="transformer">C</span>
        <span class="transformer">A</span>
        <span class="transformer">T</span>
        <span class="transformer">I</span>
        <span class="transformer">O</span>
        <span class="transformer">N</span>
      </div>
      <p>
        Devis <strong class="highlight">personnalisés</strong> disponibles sur
        demande.
      </p>
      <p>
        Tarifs de base <strong class="highlight">à partir de 2000€</strong> pour
        un site web complet.
      </p>
      <p>
        Tarifs horaires pour les
        <strong class="highlight">retours express et la maintenance</strong>.
      </p>
    </div>
  </div>
</div>
<app-colored-bars></app-colored-bars>
