@import "../../styles.scss"; // Importation des styles globaux

.contact-button {
  background: linear-gradient(90deg, #BAFFC9, #FFFFBA, #BAE1FF, #FFB3BA);
  border: 1px solid whitesmoke;
  border-radius: 15px;
  color: #333;
  font-size: 26px;
  font-weight: 600;
  padding: 15px 30px;
  text-align: left;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  gap: 20px; /* Espace entre le texte et l'enveloppe */
  position: relative;
  box-shadow: none; /* Enlève le box-shadow de base */
}

.contact-button:hover {
  box-shadow: 3px 4px 7px 6px #626063; /* Ajoute le box-shadow au survol */
}

.envelope {
  position: relative;
  width: 36px; /* Ajuste la taille de l'enveloppe */
  height: 36px;
}

.envelope .closed,
.envelope .open {
  font-size: 36px; /* Ajuste la taille de l'icône ici */
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.8s ease-in-out;
}

.envelope .open {
  opacity: 0;
}

.contact-button:hover .envelope .open {
  opacity: 1;
}

.contact-button:hover .envelope .closed {
  opacity: 0;
}

// Responsive design pour les écrans de moins de 800px
@media (max-width: 800px) {
  .contact-button {
    font-size: 32px; /* Réduction de la taille de la police */
    padding: 13px 24px; /* Ajustement du padding */
    gap: 13px; /* Ajustement de l'espace entre le texte et l'enveloppe */
  }

  .envelope {
    width: 30px; /* Réduction de la taille de l'enveloppe */
    height: 30px;
  }

  .envelope .closed,
  .envelope .open {
    font-size: 30px; /* Ajuste la taille de l'icône */
  }
}

// Responsive design pour les écrans de moins de 600px
@media (max-width: 600px) {
  .contact-button {
    font-size: 28px; /* Réduction supplémentaire de la taille de la police */
    padding: 10px 20px; /* Ajustement du padding */
    gap: 10px; /* Ajustement de l'espace entre le texte et l'enveloppe */
  }

  .envelope {
    width: 25px; /* Réduction de la taille de l'enveloppe */
    height: 25px;
  }

  .envelope .closed,
  .envelope .open {
    font-size: 25px; /* Ajuste la taille de l'icône */
  }
}
