<section class="landing-page">
  
    <app-triangles></app-triangles>
  
    <h1>
      <span class="creer">C</span><span class="creer">R</span
      ><span class="creer">É</span><span class="creer">E</span
      ><span class="creer">Z</span>
      <br />
      <span class="transformer">T</span><span class="transformer">R</span
      ><span class="transformer">A</span><span class="transformer">N</span
      ><span class="transformer">S</span><span class="transformer">F</span
      ><span class="transformer">O</span><span class="transformer">R</span
      ><span class="transformer">M</span><span class="transformer">E</span
      ><span class="transformer">Z</span>
      <br />
      <span class="fleurir">F</span><span class="fleurir">L</span
      ><span class="fleurir">E</span><span class="fleurir">U</span
      ><span class="fleurir">R</span><span class="fleurir">I</span
      ><span class="fleurir">S</span><span class="fleurir">S</span
      ><span class="fleurir">E</span><span class="fleurir">Z</span>
    </h1>
  
    <p>
      Transformez votre vision en réalité digitale. <br />
      En tant qu'experte en développement front et back,<br />
      je suis là pour créer un site web unique et performant pour votre
      entreprise.
    </p>
  
    <app-contact-button></app-contact-button>
  
  </section>